%article.teaser
	%header
		%h1 Hotel Mec Paestum ***** - Paestum Italy

	%figure.splash
		%img.img-rounded{src: 'images/mec-paestum-1.jpg', alt: 'Hotel Mec Paestum ***** - Paestum Italy'}
		%figcaption Hotel Mec Paestum ***** - Paestum Italy
	%p
		We have come to visit this beautiful place which keeps record of a huge amount of historical moments, thanks to the activity of the archeologists which recovered the ruins of an entire roman city, Paestum, which was progressively abandoned by its inhabitants.

	%p

		This beautiful and flawless hotel is located near the archeological site, providing the clients a beautiful sight of the famous temples which have inspired also artists of the modern times, such as Pink Floyd. 
		
	%p

		Local traditions have been influenced also by the Greeks, as well as Spanish, since the south of Italy has been ruled by many different powers through time.

	%p
		
		Let yourself being drown into history and ancient traditions, enjoying both at the same time history and food.
		
	%p

		This region's traditions include thousands of exclusive recipes with local cultivated products.

	%a{href: '#'} 
		%strong.more Read more

	%footer
		%time{pubdate: true, datetime: '2014-01-23'}
			Jan 23, 2014
		by
		%a.author{href: '#'} Mr. Anderson
		%span.views 000 views

%article.teaser
	%header
		%h1 Hotel Bellevue Palace Bern ***** - Bern, Switzerland

	%figure.splash
		%img.img-rounded{src: 'images/hotelbern.jpg', alt: 'Hotel Bellevue Palace Bern ***** - Bern, Switzerland'}

	%p
		This hotel is located in the heart of the city of Bern and offers a huge amount of quality services. This hotel has begun its activity in 1913 and was recently renovated, providing even higher quality environments and services to the customers.

	%a{href: '#'}
		%strong.more Read more

	%footer
		%time{pubdate: true, datetime: '2014-01-21'}
			Jan 21, 2014
		by
		%a.author{href: '#'} Mr. Anderson
		%span.views 000 views

%article.teaser
	%header
		%h1 Hotel Sofitel Bora Bora **** - Bora Bora, French Polynesia

	%figure.splash
		%img.img-rounded{src: 'images/hotelborabora.jpg', alt: 'Hotel Sofitel Bora Bora **** - Bora Bora, French Polynesia'}

	%p
		This hotel is located in the heart of a charming sea. An amazing promenade which gives the impression to walk directly over water will make you feel completely sorrounded by nature and relax.

	%a{href: '#'}
		%strong.more Read more

	%footer
		%time{pubdate: true, datetime: '2014-01-19'}
			Jan 19, 2014
		by
		%a.author{href: '#'} Mr. Anderson
		%span.views 000 views

%a.previous{href: '#'}
	Previous Reviews
