%article.review
  %header
    %h1 ETH Suggests

  %figure#weekly-panorama.panorama{:data => {:src => 'images/sydney-harbour-panorama1bl.jpg', :factor => 0.5, 'start-y' => 200, 'navigator-height' => 88}}

  %h3
    This week's winner is... Sydney, Australia
  %p
    Sydney is the state capital of New South Wales and the most populous city in Australia. It is on Australia's south-east coast, on the Tasman Sea. In June 2010 the greater metropolitan area had an approximate population of 4.6 million people. Inhabitants of Sydney are called Sydneysiders, comprising a cosmopolitan and international population.
  %q
    A life without travel is a life unlived

  %footer
    %figure.author
      %img.avatar.img-rounded{src: 'images/mranderson.jpg', alt: 'Mr. Anderson'}
      %figcaption
        Mr. Anderson
