%article#reviewers
  %header
    %h1 Evaluate Thy Hotel

  %ul.reviewers
    %li.reviewer
      %img.avatar.img-rounded{src: 'images/mranderson.jpg', alt: 'Mr. Anderson'}
      .name Mr. Anderson
      .position CEO
      %q I will show you a world in which every trip is possible..

    %li.reviewer
      %img.avatar.img-rounded{src: 'images/smith.jpg', alt: 'Mr. Smith'}
      .name Mr. Smith
      .position 
        Board Member
        %br
        Main Reviewer
      %q That's what humanity does... travels.

    %li.reviewer
      %img.avatar.img-rounded{src: 'images/trinity.jpg', alt: 'Ms Trinity'}
      .name Ms Trinity
      .position Assistant Reviewer
      %q I love the chosen ones, so we love sending people to the chosen places!


    %li.reviewer
      %img.avatar.img-rounded{src: 'images/morpheus.jpg', alt: 'Mr. Morpheus'}
      .name Mr. Morpheus
      .position Assistant Reviewer
      %q Every man has the keys to the fun... start travelling!

    %li.reviewer
      %img.avatar.img-rounded{src: 'images/mouse.jpg', alt: 'Mr. Mouse'}
      .name Mr. Mouse
      .position Draft Optimiser
      %q You need more! Refusing travelling is refusing the only thing that makes us humans.

    %li.reviewer
      %img.avatar.img-rounded{src: 'images/chong.jpg', alt: 'Mr. Tank'}
      .name Mr. Tank
      .position Administrative Assistant
      %q There's always a way out.. of your stress! You just have to reach that fast! Start travelling!
