%aside#sidebar-contest
  %header
    %h1 Weekly Location Contest
  %figure
    %img.img-rounded{src: 'images/sydney-harbour-panorama1bl-thumbnail.jpg', alt: 'Sydney, Australia'}
    %figcaption
      This week's location is 
      %a{href: 'panoramic.html'} Sydney, Australia
  %footer
    %a{href: 'panoramic.html'} Have a look!