%aside#sidebar-reviewers
  %header
    %h1 Meet our reviewers
  %ul.reviewers
    %li.reviewer
      %img.avatar.img-rounded{src: 'images/mranderson.jpg', alt: 'Mr. Anderson'}
      .name
        Mr. Anderson
      .position
        CEO

    %li.reviewer
      %img.avatar.img-rounded{src: 'images/trinity.jpg', alt: 'Ms. Trinity'}
      .name
        Ms. Trinity
      .position
        Assistant, Reviewer, Board Member
  %footer
    %a{href: 'reviewers.html'} Meet them all