%aside#sidebar-social
  %dl.social-networks
    %dt
      %dfn Facebook
    %dd
      %a{href: '#', title: 'Facebook'}
        %img{src: 'images/facebook-icon.png', alt: 'Facebook'}
    %dt
      %dfn Twitter
    %dd
      %a{href: '#', title: 'Twitter'}
        %img{src: 'images/twitter-icon.png', alt: 'Twitter'}