%aside#sidebar-reviews
  %header
    %h1 Our last reviews
  %ul.reviews
    %li.review
      %figure
        %img.img-rounded{src: 'images/mec-paestum-1.jpg'}
        %figcaption Mec Paestum Hotel

    %li.review
      %figure
        %img.img-rounded{src: 'images/hotelbern.jpg'}
        %figcaption Bellevue Palace Bern